:root {
    --grad: linear-gradient(
        var(--prim), var(--sec)
    );
    --mainFont: "Ubuntu", sans-serif;
    --prim: #d74cb4;
    --tert: #2c093a;
    --sec: #a80652;
    --quat: #590c57;
    --quin: #441261;
}

* {box-sizing: border-box;}

/* tags */

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(var(--prim), var(--tert), var(--sec), var(--quat), var(--quin));
}

/* classes */

.banner-image {
    height: 20vh;
}

.header-link {
    color: var(--quin);
    border: 1px solid var(--quin);
    border-radius: 7px;
    margin: 0.5vh;
}

.header-link:hover {
    background-color: var(--quin);
    color: var(--tert);
}

.dropdown {
    color: var(--quin);
    border: 1px solid var(--quin);
    border-radius: 7px;
}

.dropdown:hover {

    color: var(--tert);
}
.dropdown-menu {
    color: var(--quin);
    border: 1px solid var(--quin);
    border-radius: 7px;
}

.dropdown-menu:hover {

    color: var(--tert);
}



/* ids */

#logo {
    color: var(--quin);
}

#header {
    padding: 10px 0;
    background-color: var(--prim);
}
